In [5]:
import pandas as pd    ## pandas是python数据分析库，提供高效数据结构和工具，用于数据清洗、分析与可视化
import numpy as np     ## numpy是python中用于科学计算的核心库，支持高效的数值运算和数据处理

data = [107, 73, 68, 97, 76, 79, 94, 59, 98, 57, 73, 81, 54, 65, 71, 80, 84, 88, 62, 61,
        79, 98, 63, 65, 66, 62, 79, 86, 68, 74, 61, 82, 65, 98, 63, 71, 62, 116, 65, 88,
        64, 79, 78, 79, 77, 86, 89, 76, 74, 85, 73, 80, 68, 78, 89, 72, 58, 69, 82, 72,
        92, 78, 88, 77, 103, 88, 63, 68, 88, 81, 64, 73, 75, 90, 62, 89, 71, 74, 70,
        74, 70, 85, 61, 65, 81, 75, 62, 94, 71, 85, 84, 83, 63, 92, 68, 81, 62, 79, 83,
        93, 61, 65, 62, 92, 65, 64, 66, 83, 70, 70, 81, 77, 72, 84, 67, 59, 58, 73, 83,
        78, 66, 66, 94, 77, 63, 66, 75, 88, 76, 73, 76, 90, 78, 71, 101, 78, 43, 59, 67,
        61, 71, 77, 91, 96, 75, 64, 76, 72, 77, 74, 65, 82, 86, 79, 74, 66, 86, 96, 89,
        81, 71, 85, 99, 59, 92, 94, 62, 68, 72, 77, 60, 87, 84, 75, 77, 51, 45, 63, 102,
        85, 67, 87, 80, 84, 93, 69, 76, 89, 75, 59, 77, 83, 68, 72, 67, 92, 89, 82, 96]

bin = [i for i in range(40,120,4)]     
## 选择端点：生成从40到120(不包含120)、步长为4的整数序列，并组成新的列表bin，作为数据分箱的区间端点

qujian = ['('+str(bin[i])+','+str(bin[i+1])+']' for i in range(len(bin)-1)]      
## 标记区间：将bin列表中的第i个元素和第i+1个元素转换为字符串，并拼接成区间字符串

huafen = pd.cut(data,bins=bin)       
## 分割数据：pd.cut是pandas的分箱函数，bins=bin指定分箱的区间端点为之前定义的bin列表，结果存储在huafen中

pinshu = list(huafen.value_counts())      
## 统计频数：对huafen中出现的频数进行统计，转换成list列表，存储在pinshu中

df = pd.DataFrame({"寿命区间":qujian, "落入频数":pinshu})     
## 创建一个pandas的DataFrame对象，用字典的形式指定DataFrame的列

df["频率"] = np.round(df["落入频数"]/len(data),4)      
## 使用numpy的round函数将计算的频率保留4位小数点

df      
## 输出DataFrame对象df，展示

         寿命区间  落入频数      频率
0     (40,44]     1  0.0050
1     (44,48]     1  0.0050
2     (48,52]     1  0.0050
3     (52,56]     1  0.0050
4     (56,60]     9  0.0452
5     (60,64]    23  0.1156
6     (64,68]    25  0.1256
7     (68,72]    19  0.0955
8     (72,76]    24  0.1206
9     (76,80]    25  0.1256
10    (80,84]    20  0.1005
11    (84,88]    17  0.0854
12    (88,92]    14  0.0704
13    (92,96]     9  0.0452
14   (96,100]     5  0.0251
15  (100,104]     3  0.0151
16  (104,108]     1  0.0050
17  (108,112]     0  0.0000
18  (112,116]     1  0.0050